.game-info {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}
.game-rules {
  padding: 10px;
  border-radius: 8px;
  background: rgba(1, 20, 35, 0.19);
}

.comments {
  color: #fff;
  font-size: 13px;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30px 30px;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
}

.arrow {
  &.arrow-left {
    grid-column: 1;
    grid-row: 2;
  }
  &.arrow-top {
    grid-column: 2;
    grid-row: 1;
  }
  &.arrow-bottom {
    grid-column: 2;
    grid-row: 2;
  }
  &.arrow-right {
    grid-column: 3;
    grid-row: 2;
  }
}

.food-block {
  margin-top: 30px;
  padding: 15px;
}

.foods {
  display: flex;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 16px;
}

.food-item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #43d9ad;
  border: 4px solid #2c8a79;
  box-shadow: 0 0 2px 1px #27746e;
  opacity: 1;
  transition: opacity 0.5s;
  &.eaten {
    opacity: 0.2;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
