footer {
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
  border-top: 1px solid var(--grey);
  grid-area: footer;
  padding-left: 15px;
}

.social-links {
  display: flex;
  align-items: center;
  height: 100%;
  a {
    height: 100%;
    display: flex;
    padding: 0 12px;
    border-right: 1px solid var(--grey);
    &:hover {
      svg {
        fill: #fff;
      }
    }
    &:first-child {
      margin-left: 10px;
      border-left: 1px solid var(--grey);
    }
    svg {
      width: 30px;
      height: auto;
      fill: var(--main-color);
    }
  }
}
.github-user {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  height: 100%;
  border-left: 1px solid var(--grey);
  padding: 0 15px;
  &:hover {
    color: #fff;
    svg {
      fill: #fff;
    }
  }
  svg {
    width: 30px;
    fill: var(--main-color);
  }
}
