header {
  display: flex;
  height: 56px;
  align-items: center;
  border-bottom: 1px solid var(--grey);
  grid-area: header;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  width: 260px;
  padding: 0 15px;
  border-right: 1px solid var(--grey);
}

nav {
  height: 100%;
  width: calc(100% - 260px);
  ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  li:last-child {
    margin-left: auto;
  }
  a {
    display: flex;
    align-items: center;
    height: 100%;
    border-right: 1px solid var(--grey);
    padding: 0 15px;
    text-decoration: none;
    position: relative;
    color: inherit;
    &:hover {
      color: #fff;
    }
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 0;
      background: var(--secondary);
      left: 50%;
      bottom: 0;
    }
    &.active {
      color: #fff;
      &::after {
        transition: all 0.3s;
        left: 0;
        width: 100%;
      }
    }
  }
}
