.snake-game {
  position: relative;
  Button {
    position: absolute;
    bottom: 50px;
    right: 50%;
    transform: translate(50%, 0px);
  }
  .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    padding-top: 170px;
    color: #43d9ad;
    text-shadow: 0 0 20px #fff;
    b {
      color: var(--primary);
    }
  }
  .game-status {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px;
    font-size: 30px;
    color: #43d9ad;
    text-shadow: 0 0 20px #fff;
  }
  canvas {
    display: block;
    background-color: #011627d6;
  }
}
