.projects-page {
  display: flex;
}

.projects-list {
  display: flex;
  gap: 20px;
  padding: 60px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.project-item {
  flex: 1 1 350px;
  max-width: 450px;
  h1 {
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 10px;
  }
  img {
    transition: all 0.5s ease;
  }
  span {
    color: var(--grey);
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.project-card {
  border: 1px solid var(--grey);
  border-radius: 15px;
  position: relative;
  overflow: hidden;

  .project-title {
    position: absolute;
    top: -100%;
  }

  .desc {
    padding: 20px;
    background: var(--dark-bg);

    p {
      margin-bottom: 20px;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }

  .img {
    border-bottom: 1px solid var(--grey);
    display: flex;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 140px;
    }
  }
  .technologies {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 8px;
    .tag {
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 26px;
      height: 26px;
      border-radius: 6px;
    }
  }
}

.projects-filter {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-right: 1px solid var(--grey);
  padding: 10px;
  width: 300px;

  .filter-items {
    position: sticky;
    top: 10px;
  }
}

.project-detail {
  height: 100%;
  padding: 60px;
  h1 {
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 10px;
  }
  span {
    color: var(--grey);
  }
}

.tags {
  margin: 20px 0;
}

.tag {
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 15px;
  box-shadow: 0 0 5px 1px var(--grey);
}
.project-wrapper {
  display: flex;
  gap: 20px;
}
.swiper {
  width: 600px;
  height: 320px;
  margin: 0 !important;
  border: 1px solid var(--grey);
  box-shadow: 0 0 10px 1px var(--grey);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.project-info {
  margin-left: 30px;
  .col {
  }
}
.description {
  margin-top: 30px;
}

.row {
  display: flex;
  align-items: center;
  height: 45px;
  .col {
    width: 120px;
    color: var(--primary);
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    margin-right: 30px;
  }
  span {
    color: var(--main-color);
  }
}
