.sub-nav {
  width: 244px;
  border-right: 1px solid var(--grey);
  background-color: var(--second-bg);
  ul {
    padding-top: 10px;
  }
  a {
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    padding-left: 8px;
    margin-top: 5px;
    flex-wrap: wrap;
    &.active {
      color: #fff;
      overflow: visible;
      height: auto;
    }
    &.folder {
    }
    .folder-icon {
      margin-bottom: 3px;
      margin-right: 5px;
    }
    .file {
      display: flex;
      align-items: center;
      height: 34px;
      padding-left: 20px;
      width: 100%;
      color: var(--main-color);
      svg {
        margin-right: 5px;
      }
    }
  }
}

.sub-nav-title {
  height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid var(--grey);
}
