.side-nav {
  display: flex;
  width: 56px;
  justify-content: center;
  border-right: 1px solid var(--grey);
  flex-shrink: 0;

  a {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    &.active {
      color: #fff;
    }
  }
}
